.navbar {
    background-image: linear-gradient(to top, white, lightblue, steelblue);
    text-shadow: 0px 0px rgba(52, 54, 58, 0.327);
}

.nav-item > a:hover {
    font-weight: bold;
    transition: 50ms;
}

footer {
    text-shadow: 0px 0px rgba(52, 54, 58, 0.327);
    text-align: center;
    background-image: linear-gradient(to bottom, white, lightblue, steelblue);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 1px;
    position: fixed;
    bottom: 0;
}

body {
    background-image: linear-gradient(to top, white,beige, white);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    height: 100%;
}

.col-sm-6 {
    padding-bottom: 10px;
}

.container, #main {
    padding-bottom: 51px;
}

img {
    padding-top: 10px;
}

.otsikko {
    padding: 10px;
}

.ytiedot {
    padding-top: 80px;
    padding-bottom: 40px;
}

textarea {
    width: 100%;
}

.ekuva {
    width: 90%;
}